.player {
  width: 300px;
  display: flex;
  align-items: center;
  background-color: grey;
  border-radius: 50px 0 0 50px;
  
  > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
  }
  
  > span {
    font-size: 24px;
    margin-left: 16px;
  }
}