.player {
  width: 300px;
  display: flex;
  align-items: center;
  background-color: rgba(147, 147, 147, 0.8);
  border-radius: 50px 0 0 50px;
  overflow: hidden;
  
  > img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
  }
  
  > span {
    font-size: 24px;
    margin-left: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
  }
}

.player_active {
  background-color: orange !important;
}