main {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-image: url('/assets/board.jpg');
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    position: relative;
    > img {
      position: absolute;
      width: 120px;
    }
  }
}

