main {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-image: url('./../../assets/board.jpg');
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    position: relative;
    > img {
      position: absolute;
      width: 120px;
      z-index: 10;
    }
  }

  .top_card {
    cursor: pointer;
    transition: all 125ms ease-in-out;
    &:hover {
      transform: scale(1.1) translateY(-10px);
    }
  }

  .pick_card{
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1.25) translateX(115px) translateY(-180px) rotate(-10deg);
  }
  
  .played_card {
    transform: scale(1.25) translateX(115px) translateY(-180px) rotate(-10deg);
    right: 25px;
  }

 @keyframes pick-card-animation {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.5);
  }
  60% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.25) translateX(115px) translateY(-180px) rotate(-10deg);
  }
 }
}

.player_position {
  position: absolute;
  right: 0;
  z-index: 10;
}

.add_btn {
  position: absolute;
  right: 24px;
  bottom: 32px;
  z-index: 10;

  @media (max-width: 720px) {
    bottom: 150px;
  }
}

.layout_instruction_card {
  position: absolute;
  left: 100px;
  right: 100px;
  bottom: 32px;

  @media (max-width: 720px) {
    left:0;
    right:0;
    bottom:0;
  }
}

.game_over {
  display: flex !important;
  justify-content: center;
  align-items: center;

  img {
    width: 300px !important;
  }
}

.scroll_container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  gap: 8px;
  overflow-x: auto;
  overflow-y: hidden;

  @media (min-width: 720px) {
    display: none;
  }
}

app-player,
app-player-mobile {
  cursor: pointer;
  
  &:hover {
    filter: brightness(1.1);
  }
}