main {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-image: url('/assets/board.jpg');
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    position: relative;
    > img {
      position: absolute;
      width: 120px;
    }
  }

  .top_card {
    cursor: pointer;
    transition: all 125ms ease-in-out;
    &:hover {
      transform: scale(1.1) translateY(-10px);
    }
  }

  .pick_card{
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1.25) translateX(140px) translateY(-180px) rotate(-10deg);
  }
  
  .played_card {
    transform: scale(1.25) translateX(140px) translateY(-180px) rotate(-10deg);
    right: 25px;
  }

 @keyframes pick-card-animation {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.5);
  }
  60% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.25) translateX(140px) translateY(-180px) rotate(-10deg);
  }
 }

}

