.player {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.8);
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;

  img {
    margin-top: 16px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
  }
}

.player-active {
  background-color: orange !important;
}