* {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, 
  "Helvetica Neue", 
  sans-serif; 
}

@media (max-width: 720px) {
  .hide_mobile {
    display: none;
  }
}

@media (min-width: 720px) {
  .hide_desktop {
    display: none;
  }
}
